*{

font-family: Arial, Helvetica, sans-serif;

}




body{ 
    margin:0%;

  
    background: #3aa6d1;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
  
    
  
  
  }
  
  
  header{
  
    color:hsl(200, 84%, 38%);
    background-color: #b8cddb;
    height:80px ;
    position: relative;
    
  }

  header h1{
    position: absolute;
    left: 46%;
    font-weight: bolder;
    font-size:xx-large;
    text-align: center;
    font-family: 'ZCOOL KuaiLe', cursive;

  }
  header nav{
    float: right;
    width: 30%;
    margin-top: 33px;
    margin-right: -17px;
  
  }

  header nav ul li{
  
    display: inline-block;
    margin-right: 11px;
  }
  header nav ul li a{
    color: hsl(200, 84%, 38%);
    font-family: 'ZCOOL KuaiLe', cursive;
    text-decoration: none;
  
  }
  a:hover{
    background-color: brown;
  }
  /* table{
    position: absolute;
    margin-left: 11%;
  } */

  table{
    background-image: url("https://thumbs.dreamstime.com/b/cup-coffee-office-desk-wood-table-background-laptop-computer-glasses-fresh-flower-top-view-copy-space-wooden-115762239.jpg");
  }

 table,th,td{


    border: 2px solid black;
    border-collapse: collapse;

    margin-left: 5%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
  }

  fieldset{

    border: 5px solid black;
   
  }


  footer{
    width: 100%;
    /* margin-top: 25px;; */
    margin-top: auto;
    height: 92px;
    
   
    background-color: #b8cddb;
     
  }

  footer h1{
    color:hsl(200, 84%, 38%);;
   text-align: center;
   padding: 33px;


  
  }

  
  
  #family{
    float: right;
    margin-top: -116px;
    margin-right: 16px;
  }

  

  #container1{

    margin-bottom: 177px;
  }

  .container2{
    
display: block;
margin: auto;
margin-top: 10px;
margin-bottom: 10px;


  }
  .image1{
    display: inline-block;
    margin: 15px;
    width: 30%s;

  }

  #information h1{
    margin-left: 3px;
  }

#fish5{
  margin-left: 324px;
}
#container3{

  text-align: center;
}